<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive">
          </img>
        </div>
        <div class="col-sm-6 col-md-8">
          <h4><%= current_user.name %></h4>
          <br />
          <p>
            <i class="glyphicon glyphicon-envelope"></i> <%= current_user.email %>
            <br />
            <br />
            <i class="glyphicon glyphicon-globe"></i> <%= link_to 'My Website', current_user.original_url, { target: :_blank } %>
            <br />
            <br />
            <div class="btn-group">
              <%= link_to 'Friends', '#', class: 'btn btn-primary', remote: true %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="active-cyan-3 active-cyan-4 mb-4">
      <%= form_tag search_members_path, method: :get do %>
        <%= text_field_tag :member_name, params[:member_name], class: "form-control", placeholder: "Search" %>
      <% end %>
    </div>
  </div>
</div>